# =========================
# Miscellaneous / System
# =========================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# =========================
# IDEs
# =========================
*.iml
*.ipr
*.iws
.idea/
# VS Code config optional
#.vscode/

# =========================
# Flutter / Dart / Pub
# =========================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
coverage/

# =========================
# Symbolication / Obfuscation
# =========================
app.*.symbols
app.*.map.json

# =========================
# Android build artifacts
# =========================
android/.gradle/
android/app/build/
android/app/debug
android/app/profile
android/app/release

# =========================
# iOS / macOS build artifacts
# =========================
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
macos/Flutter/Generated.xcconfig

# =========================
# Windows / Linux / Web build
# =========================
windows/runner/Release/
linux/flutter/
web/.dart_tool/

# =========================
# Firebase
# =========================
.firebaserc
flutterfire/
firebase-debug.log

# =========================
# Optional temporary files
# =========================
*.tmp
*.swp
